@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input,
label, table, tbody, tfoot, th, tr, td, textarea, select {
border: 0;
color: #333;
font-family: 'Comic Sans MS', 'Helvetica';
font-weight: normal;
margin: 0;
padding: 0;
text-align: center;
}



header {
background: #D1E0E1;
color: #333;
font-size: 20px;
font-weight: bold;
line-height: 80px;

}

main {
font-size: 20px;
width:100%;
}


form {
text-align: center;
margin: 20px;
}

input {
border: 1px solid #AAA;
border-radius: 3px;
height: 24px;
padding: 0 7px;
}
input.large {
width: 200px;
margin: 20px;
}

input.button {
	font-size:1.0em;
	width:200px;
	height:auto;
}



div.infotxt{
	
	margin:20px;
	padding:10px;
	text-align:center;
}

div#schatzbild, div#Lob{
	padding:20px;

}

div#Schatz {
	padding: 20px;
	margin: 20px;
	border: 2px solid #AAA;
}


.warning {
color: red;
background: #F7F7DC;
text-align: center;
}

