@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input,
label, table, tbody, tfoot, th, tr, td, textarea, select {
border: 0;
color: #333;
font-family: 'Comic Sans MS', 'Helvetica';
font-weight: normal;
margin: 0;
padding: 0;
text-align: center;
}

header h1 {
	padding-bottom:20px;
}

header {
background: #D1E0E1;
color: #333;
font-size: 45px;
font-weight: bold;
line-height: 80px;
padding:40px;

}

main {
font-size: 40px;
width:100%;
}


form {
text-align: center;
margin: 20px;
}

input {
border: 3px solid #AAA;
height: 94px;
font-size: 30px;
}

input.large {
	width:400px;
	margin:20px;
}

input.button {
	font-size:1.0em;
	width:400px;
	height:100px;
}



div.infotxt{
	
	margin:20px;
	padding:10px;
	text-align:center;
}

div#schatzbild, div#Lob{
	padding:20px;

}

div#Schatz {
	padding: 20px;
	margin: 20px;
	border: 2px solid #AAA;
}


.warning {
color: red;
background: #F7F7DC;
text-align: center;
}

.mila {
	width:auto;
	height:350px;
}

.kerzen {
	height:350px;
	width:auto;
}

.backimage {
	background: url("./images/geburtstag.png");
	width:99%;
	height:98%;
	position:absolute;	
}

